
<h1>Welcome <%= @current_user.f_name%> To Your Dashboard.  Where to?</h1>

<h3> <a href = "/create">Post </a></h3>
    <div>
        <h4> Recent Tranmissoins<h4>
    <div>

    <% 1.times do |post| %>
    
