
<h1>Welcome <%= @current_user.f_name%> To Your Dashboard.  Where to?</h1>

<h3> <a href = "/create">Post </a</h3>





    <div>
        <a href ="/logout" value = "Sign Out">Sign Out </a>
    </div>


