<h1>Confrim USER BURN NOTICE</h1 >
<p>GORENET DATA WILL BE PERMANENTLY SCRUBBED</p>
<div>
    <form action ="/confirm_delete/<%=@this_user.id%>" method = "GET" >
        <input type='submit'  value ="DELETE OPERATIVE PROFILE" class = "red_submit">
    </form>
</div>

