<div class = "row">

<% current_user = User.find(session[:user_id]) %>

     <div class= 'col-12'>
         <h1>RETREIVING COMMS DATA ON USER  <%=current_user.f_name%></h1>
         <h1> Comms cable <%@this_post.id%><h1>
         post time
            
         
    </div>  
</div>
<div class="row">
     <div class ='col-12'>
         <form acton = "/update/<%@this_post.id%>" method = "POST">
            <div>
                <input type = "text" name = "post_name" placeholder = "title" class ="post_create">
            </div> 
            <div>
                 <textarea  placeholder = "Text(optional)" rows="25" cols="100" name = "post_body" class = 'post_create'>
                     <%=@this_post.body%>
                 </textarea>
                 
             </div>
     </div> 
</div>
            <div>
                <input type = "submit" value = "Execute" class = 'post_create'>
            <button href = "/dashboard" value = "Cancel" class = 'post_create'> Cancel</button>   
           </form> 
        </div>    
    </div>    

