<h1> Welcome. Please Login </h1>
<form action="/login" method="POST">
	
	<div>
		<input type="text" name="user_email" placeholder="Email">
	</div>
	<div>
		<input type="password" name="password" placeholder="Password">
	</div>
	<div>
		<input type="submit" value="Login">
	</div>


</form>
<h2> New here? <a href = "/sign_up" value ="Sign Up" >SignUp!</a></h2>
