<div id='table'>
	<div id = "centeralign">
		<h1 class="typewriter"> ESTABLISHING GORENET_DATA_LINK </h1>
		<h2>CONNECTION ESTABLISHED</h2>
		<h2>CHANNEL OPEN </h2>
		<h2> INPUT GORENET USER ENCRYPTION DATA</h2>
		<form action="/login" method="POST">
			
			<div>
				<input type="text" name="user_email" placeholder="Email">
			</div>
			<div>
				<input type="password" name="password" placeholder="Password">
			</div>
			<div>
				<input type="submit" value="Login">
			</div>


		</form>
		<h2> CMD>>Push_GORENET_AUTHENTICATION_PARAMS_UPLINK <a href = "/sign_up" value ="Sign Up" >EXECUTE</a></h2>
