<div id='table'>
	<div id = "centeralign">
		<h1 class="typewriter"> ESTABLISHING GORENET_DATA_LINK </h1>
		<h1>CONNECTION ESTABLISHED</h1>
		<h1>CHANNEL OPEN </h1>
		<h1> INPUT GORENET USER ENCRYPTION DATA</h1>
		<form action="/login" method="POST">
			
			<div>
				<input type="text" name="user_email" placeholder="Email"  class = "post_create" >
			</div>
			<div>
				<input type="password" name="password" placeholder="Password" class = "post_create">
			</div>
			<div>
				<input type="submit" value="Login" class = "red_submit" >
			</div>


		</form>
		<h2> CMD>>Push_GORENET_AUTHENTICATION_PARAMS_UPLINK <a href = "/sign_up" value ="Sign Up" >EXECUTE</a></h2>
