<div>
    <h1> Hello!  Please login and remember those who have come before</h1>
</div>
    <form action ="/login"  method = "POST">
        <div>
            <input type = "text" name= "user_email">
        </div>
         <div>
            <input type = "text" name= "password">
        </div>
        <div>
            <input type = "submit" value = "Login">
        </div>
    </form>