<h1>KNOWN OPERATIVES</h1>
    <% @operatives.each do |user|%>
    <div> 
        <h2> Name:<span class ="glow"> <%=user.f_name%></span> </h2>
     
        <h2> <a href='/op/<%=user.id%>'>>Comminuqe list</a></h2>
            <% @post_list = Post.where(user_id: user.id) %>
        <h3> Listings: <span class = "glow"> <%=@post_list.length%> </span> </h3>
        <%end%>
    
    </dv>
