<div>
    <h1>Welcome Traveler, register for our great forum</h1>
</div>
<form action="/sign_up" method= "POST" >

    <div>
       First Name: <input type = "text" name = "user_f_name">
    </div>

    <div>
       Last Name:  <input type = "text" name = "user_l_name">
    </div>

    <div>
       Email: <input type = "text" name = "user_email">
    </div>

    <div>
      Password:  <input type = "text" name = "user_password">
    </div>
    <div>
		<input type="submit" value="Submit">
	</div>
</form>